# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# production
/storage
/dist
/build
/tmp

# misc
.DS_Store
.env
.env.local
.env.development
.env.production
